li{
    list-style-type: none;
    display: inline;
    text-align: right;
}
nav{
    text-align: right;
    padding: 10px;
}
nav li{
    margin-right: 60px;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-btn{
    border: none;
    font-size: 16px;
    color: #000;
    
}
.dropdown-content{
    position: absolute;
    background-color: #fff;
    z-index: 2;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
    display: none;
}
.dropdown-content a{
    display: block;
    margin: 10px;
    text-decoration: none;
    color: #000;
    width: max-content;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.pare{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    padding: 10px;
}
a[target]{
    text-decoration: none;
    color: #000;
}
a[target]:hover{
    color: #f00;
}
.alla{
    display: flex;
    margin: auto;
}
.keta{
    background-color: green;
    border-radius: 1em;
    height: 80vh;
}
.eee{
    text-align: center;
    color: #fff;
}
.adu{
    text-align: left;
    color: #fff;
    margin: 2em;
}
.fir{
    height: 50vh;
    border-radius: 1em;
    margin-top: 5em;
    /* width: 100%; */
}
.sec{
    height:80px ;
    width:80px ;
    border-radius: 5em;
    margin-left: 14.5em;
    margin-top: 1em;
}
.par{
    background-color: green;
    margin-top: none;
    
}
.parr{
    display: flex;
    justify-content: space-between;
    margin: 10em;
    
}
.pari{
    background-color: #fff;
    /* text-align: center; */
    border-radius: 2em;
    /* margin-top: 5em;  */
    font-size: large;
}
.dif{
    text-align: center;
    color: #fff;
    font-size: 4em;
    margin-top: -2em;
}
.diff{
    display: flex;
    justify-content: space-between;
    color: #fff;
    margin: 10em;
    margin-top: 0;
    font-size: 1.5em;
}
.loud{
    text-align: center;
}
.are{
    font-size: 2em;
}
.try{
    display: flex;
    justify-content: space-between;
    margin: 5em;
    padding: 2em;
}
.pic{
    height: 100px;
    width: 100px;
    border-radius: 10em;
}
.auto{
    background-color: green;
    margin: 20rem;
    text-align: center;
    padding: 2rem;
    margin-top: -1em;
    border-radius: 2rem;
    color: #fff;
    font-size: 18px;
}
.fey{
    background-color:lightgreen;
    color: #fff;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
}
.fey:hover{
    background-color: #f00;
}
.ara{
    font-size: 2.5em;
    margin-top: -2em;
}
.light{
    background-color: lightgreen;
    padding: 5rem;
    margin-top: -17em;
}
.lam{
    display: flex;
    justify-content: space-between;
}
a[target="_blank"]{
    text-decoration: none;
    color: #000;
}
a[target]:hover{
    color: #f00;
}
.tar{
    color: green;
}
.foot{
    display: flex;
    justify-content: space-between;
    margin-top: 5em;
}
.imt{
    display: block;
    justify-content: space-between;
    margin-top: 1em
    
}
.fixed{
    font-size: 80px;
    position: fixed;
    color: green;
    bottom: 10px; 
    z-index: 1;
}
@media(min-width:375px) and (max-width:768px){
    .pare{
        display: block;
     }
     .alla{
        display: block;
     }
     .fir{
        width: 100%;
     }
     .keta{
        width: 100%;
        height: 90vh;
     }
     .sec{
        height:40px ;
        width:40px ;
        border-radius: 5em;
        margin-left: 10em;
        margin-top: 1em;
    }
    .par{
        width: 100%;
    }
    .parr{
        display: block;
    }
    .pari{
       margin: auto;
    }
    .diff{
        display: flex;
        justify-content: space-between;
        color: #fff;
        margin: auto;
        font-size: 0.7em;
    }
    .try{
        display: grid;
        grid-template-columns: 50% 50%;
        margin: 50px;
    }
    .auto{
        margin: auto;
        width: 80%;
    }
    .light{
        background-color: lightgreen;
        padding: 5rem;
        margin-top: 2em;
    }
    .foot{
        display: block;
    }
    .lam{
        display: block;
    }
    .fixed{
        font-size: 16px;
        left: 10%;
    }

}