*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* header{
    position: fixed;
    background-color: #fff;
    margin-bottom: 100px;
} */
li{
    list-style-type: none;
    display: inline;
    text-align: right;
}
nav{
    text-align: right;
    padding: 10px;
}
nav li{
    margin-right: 60px;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-btn{
    border: none;
    font-size: 16px;
    color: #000;
    
}
.dropdown-content{
    position: absolute;
    background-color: #fff;
    z-index: 2;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
    display: none;
}
.dropdown-content a{
    display: block;
    margin: 10px;
    text-decoration: none;
    color: #000;
    width: max-content;
}
.dropdown:hover .dropdown-content{
    display: block;
}
a:hover{
    background-color: burlywood;
}
.bx-menu{
    font-size: 2rem;
}
.pare nav li .bx-menu{
    display: none;
}
.pare{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    padding: 10px;
}
.are{
    background-color: green;
    /* width: 200%; */
}
.paren{
    position: relative;
    left: 23%;
}
iframe{
    border-radius:10px;
     width:700px;
     height:300px;
}
.goto{
    width: 92%;
    margin: 50px;
    border-radius: 2rex;
}
.dee{
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    margin-top: 40px;
    margin-bottom: 0px;
    color: forestgreen;
    font-size: 30px;
    /* transition: all 3s; */
    transition-duration: 1.5s;
    transition-timing-function: ease;
}
.dee:hover{
    color: red;
    letter-spacing: 10px;
    font-size: 60px;
}
.de{
    text-align: center;
    font-size: 20px;
    margin-top: 0px;
}
.aria{
    display: flex;
    justify-content: space-between;
    /* margin: 50px; */
    /* height: 80px; */
}
.rial{
    display: flex;
    justify-content: space-between;
    /* margin: 10px; */
}
.liar{
    background-color: #fff;
    /* border: 2px solid #000; */
    /* border-radius: 2rem; */
    padding: 10px;
    /* margin: 0px; */
}
.mid{
    text-align: center;
}
.six{
    height: 50px;
    margin-top: 10px;
}
 .arer{
    background-color: green;
    padding: 90px;
    border-radius: 2rem;
    margin: 0px;
    width: 100%;
    height: 100%;

}
.ace{
    text-align: center;
    font-size: 20px;
    color: forestgreen;
    font-size: 30px;
    transition-duration: 1.5s;
    transition-timing-function: ease;
}
.ace:hover{
    color: red;
    letter-spacing: 10px;
    font-size: 30px;
}
.marq-con{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    display: flex;
}
.marq{
    display: flex;
    animation: marq 10s linear infinite;
}
 @keyframes marq{
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(100%);
    }
}
.midd{
    text-align: center;
    justify-content: center;
    color: #fff;
    font-size: 2.5rem;
    padding-top: 5rem;
    transition-duration: 1.5s;
    transition-timing-function: ease;
}
.midd:hover{
    color: red;
    letter-spacing: 10px;
    font-size: 5rem;
}
.yari{
    display: flex;
    justify-content: space-between;
    padding: 2em;
}
.yar{
    background-color: #fff;
    margin: 2em;
    padding: 2rem;
    border-radius: 2rem;
}
.yarr{
    display: flex;
}
.sol{
    height: 100px;
    width: 100px;
}
.soll{
    height: 50px;
    width: 50px;
    border-radius: 2rem;
    margin-top: 1.5em;
    margin: 1em;
}
.auto{
    background-color: green;
    margin: 12rem;
    text-align: center;
    padding: 2rem;
    margin-top: 3em;
    border-radius: 2rem;
}
.fey{
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
}
.fey:hover{
    background-color: #f00;
}
.light{
    background-color: lightgreen;
    padding: 5rem;
    margin-top: -10em;
}
.lam{
    display: flex;
    justify-content: space-between;
}
a[target]{
    text-decoration: none;
    color: #000;
}
a[target]:hover{
    color: #f00;
}
.tar{
    color: green;

}
.foot{
    display: flex;
    justify-content: space-between;
    margin-top: 5em;
}
.imt{
    display: block;
    justify-content: space-between;
    margin-top: 1em
    
}
.fixed{
    font-size: 80px;
    position: fixed;
    color: green;
    bottom: 10px; 
}
@media(min-width:375px) and (max-width:768px){
    /* .pare nav li .bx-menu{
        display: ;
    } */
     .pare{
        display: block;
     }
     .goto{
        width: 70%;
     }
     iframe{
        width: 350px;
        height: 150px;
     }
     .paren{
        left: 3%;
     }
     .aria{
        display: block;
     }
     .liar{
        margin: 20px;
     }
     .liar img{
        width: 50px;
        height: 50px;
     }
     .arer{
        width: 100%;
        height: 170vh;
     }
     .yari{
        display: block;
     }
     .are{
        width: 100%;
     }
     .midd:hover{
        color: red;
        letter-spacing: 10px;
        font-size: 2rem;
    }
    .auto{
        width: 50%;
        margin: auto;
        margin-top: 10%;
        margin-bottom: 50%;
        border-radius: 2rem;
    }
    .light{
        width: 100%;
    }
    .lam{
        display: block;
    }
    .foot{
        display: block;
    }
    .fixed{
        font-size: 16px;
    }
}
@media(min-width:468px) and (max-width:768px){
    /* .pare nav li .bx-menu{
        display: ;
    } */
     .pare{
        display: block;
     }
     .goto{
        width: 70%;
     }
     iframe{
        width: 350px;
        height: 150px;
     }
     .paren{
        left: 11%;
     }
     .aria{
        display: block;
     }
     .liar{
        margin: 20px;
     }
     .liar img{
        width: 50px;
        height: 50px;
     }
     .arer{
        width: 100%;
        height: 150vh;
     }
     .yari{
        display: block;
     }
     .are{
        width: 100%;
     }
     .midd:hover{
        color: red;
        letter-spacing: 10px;
        font-size: 2rem;
    }
    .auto{
        width: 50%;
        margin: auto;
        margin-top: 10%;
        margin-bottom: 50%;
        border-radius: 2rem;
    }
    .light{
        width: 100%;
    }
    .lam{
        display: block;
    }
    .foot{
        display: block;
    }
    .fixed{
        font-size: 16px;
    }
}
@media(min-width:600px) and (max-width:868px){
    /* .pare nav li .bx-menu{
        display: ;
    } */
     .pare{
        display: block;
     }
     .goto{
        width: 80%;
     }
     iframe{
        width: 540px;
        height: 300px;
     }
     .paren{
        left: 1%;
     }
     .dee:hover{
        color: red;
        letter-spacing: 10px;
        font-size: 40px;
    }
     .de{
        font-size: 18px;
     }
     .ace{
        color: forestgreen;
        font-size: 18px;
        transition-duration: 1.5s;
        transition-timing-function: ease;
    }
    .ace:hover{
        color: red;
        letter-spacing: 10px;
        font-size: 20px;
    }
     .aria{
        display: block;
     }
     .liar{
        margin: 20px;
     }
     .liar img{
        width: 50px;
        height: 50px;
     }
     .arer{
        width: 90%;
        height: 120vh;
     }
     .yari{
        display: block;
     }
     .are{
        width: 90%;
     }
     .midd:hover{
        color: red;
        letter-spacing: 10px;
        font-size: 2rem;
    }
    .auto{
        width: 50%;
        margin: auto;
        margin-top: 10%;
        margin-bottom: 50%;
        border-radius: 2rem;
    }
    .light{
        width: 93%;
        margin-top: -15em;
    }
    .lam{
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }
    .foot{
        display: block;
    }
    .fixed{
        font-size: 20px;
    }
}
@media(min-width:768px) and (max-width:1024px){
    /* .pare nav li .bx-menu{
        display: ;
    } */
     .pare{
        display: block;
     }
     .goto{
        width: 85%;
     }
     iframe{
        width: 680px;
        height: 350px;
     }
     .paren{
        left: 0.5%;
     }
     .dee:hover{
        color: red;
        letter-spacing: 10px;
        font-size: 40px;
    }
     .de{
        font-size: 20px;
        margin-right: 10%;
     }
     .ace{
        color: forestgreen;
        font-size: 40px;
        transition-duration: 1.5s;
        transition-timing-function: ease;
        margin: auto;
    }
    .ace:hover{
        color: red;
        letter-spacing: 10px;
        font-size: 25px;
    }
     .aria{
        display: block;
     }
     .liar{
        margin: 20px;
     }
     .liar img{
        width: 80px;
        height: 80px;
     }
     .arer{
        width: 90%;
        height: 120vh;
        font-size: 20px;
     }
     .yari{
        display: block;
        font-size: 20px;
     }
     .are{
        width: 90%;
     }
     .midd:hover{
        color: red;
        letter-spacing: 10px;
        font-size: 2rem;
    }
    .auto{
        width: 50%;
        margin: auto;
        margin-top: 10%;
        margin-bottom: 50%;
        border-radius: 2rem;
    }
    .light{
        width: 93%;
        margin-top: -20em;
    }
    .lam{
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }
    .foot{
        display: block;
    }
    .fixed{
        font-size: 30px;
    }
}